body {
  background: radial-gradient(circle at top, #0f2027, #000);
  font-family: 'Segoe UI', sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gd-container {
  width: 420px;
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 0 30px rgba(0, 153, 255, 0.3);
  text-align: center;
}

h2 {
  color: #4db8ff;
}

.topic span {
  color: #9fdcff;
}

.timer {
  font-size: 32px;
  margin: 15px 0;
  color: #4db8ff;
}

textarea {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 14px;
  outline: none;
}

.buttons {
  margin-top: 15px;
}

button {
  background: linear-gradient(45deg, #4db8ff, #0066cc);
  border: none;
  color: white;
  padding: 10px 18px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#status {
  margin-top: 10px;
  color: #9fdcff;
}
input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  outline: none;
}

.insights {
  margin-top: 15px;
  font-size: 13px;
  color: #a8ddff;
  text-align: left;
}
select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  outline: none;
  font-size: 14px;
}
